@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans-400.woff2') format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/ptsans-700.woff2") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}

.button {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

/* Главная страница */
/* Header */

.page-header {
  background-color: #fff;
}

.menu {
  display: flex;
  align-items: flex-start;
  padding: 0 70px;
}

.menu-logo {
  vertical-align: middle;
  margin-bottom: -5px;
}

.menu-list, .menu-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list {
  margin-left: 30px;
  max-width: 480px;
}

.menu-user {
  margin-left: auto;
  max-width: 350px;
}

.menu-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  padding: 20px 17px 22px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.4s;
}

.menu-link:hover {
  border-color: #756257;
}

.menu-link-active {
  border-bottom: 2px solid #756257;
}

.user-search {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 42px;
  height: 70px;
  display: block;
}

.user-favorite {
  background-image: url(../images/icons/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 42px;
  height: 70px;
  display: block;
  position: relative;
}

.favorite-count {
  position: absolute;
  top: 15px;
  left: 24px;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #7DB54F;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  border-radius: 50%;
}

.want-here {
  background-color: #756157;
  padding: 9px 15px;
  border-radius: 4px;
  display: block;
}

.menu-user-item:last-child {
  margin-left: 20px;
}

/* welcome */

.welcome {
  background-image: url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 51px 0 82px;
}

.welcome-img {
  vertical-align: middle;
}

/* advantages */

.advantages {
  background-color: #fff;
  padding-top: 63px;
}

.advantages-title {
  max-width: 620px;
  margin: 0 auto;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 31px 0 0;
}

.advantages-list, .advantages-sublist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list {
  margin-top: 90px;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-card {
  text-align: center;
  width: 400px;
  min-height: 384px;
  padding: 80px 85px 0;
}

.advantages-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 0;
}

.advantages-card-number {
  margin: 30px 0 0;
}

.advantages-card-desc {
  color: #333333;
  margin: 30px 0 0;
}

.card-hard-blue {
  background-color: #82B3D3;
  color: #fff;
  padding-top: 92px;
}

.card-hard-blue .advantages-card-title {
  margin: 0;
}

.card-hard-blue .advantages-card-desc {
  color: inherit;
}

.card-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.card-medium-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

/* motels */

.motels {
  text-align: center;
  background-color: #fff;
  padding: 91px 0 93px;
}

.motels-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 29px 0 0;
}

.motels-link {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 574px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 56px;
  padding: 12px 15px;
}

/* footer */
/* footer - subscription */

.subscription {
  text-align: center;
  padding: 94px 0;
  background-color: #fff;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  max-width: 475px;
  margin: 29px auto 0;
}

.subscription-form {
  margin-top: 46px;
  display: flex;
  justify-content: center;
}

.subscription-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 12px 15px;
  width: 200px;
  border-radius: 0 10px 10px 0;
}

.subscription-field {
  border: none;
  width: 600px;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 22px;
  background-color: #F2F2F2;
}

.subscription-mountain {
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-color: #000;
}

.subscription-mountain .subscription-text {
  color: inherit;
}

/* footer - social */

.footer-social {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 72px 35px;
}

.social-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-link-vk {
  display: block;
  background-image: url('../images/icons/vk.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
}

.social-link-tg {
  display: block;
  background-image: url('../images/icons/telegram.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
}

.social-link-yt {
  display: block;
  background-image: url('../images/icons/youtube.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
}

.footer-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.page-footer-logo {
  vertical-align: middle;
}

/* Страница каталога */
/* inner - header */

.inner-header {
  background-image: url(../images/catalog-header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.filter-group-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-group-list {
  list-style: none;
}

.submit-button {
  display: block;
  background-color: #82B3D3;
  width: 160px;
  padding: 14px 15px;
  border-radius: 4px;
}

.reset-button {
  display: block;
  cursor: pointer;
  width: 160px;
  padding: 14px 15px;
  margin-top: 6px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  color: inherit;
  background-color: transparent;
}

/* catalog */

.catalog {
  background-color: #fff;
  padding: 55px 72px 25px;
}

.catalog-header {
  display: flex;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.sort-control, .items-count-control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin-left: auto;
}

.toggle-view-buttons {
  list-style: none;
  margin: 0 0 0 80px;
  padding: 0;
  display: flex;
}

.toggle-view-button {
  width: 48px;
  height: 48px;
  border-color: #E5E5E5;
  background-color: transparent;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.toggle-view-item+.toggle-view-item {
  margin-left: 8px;
}

.table-button {
  background-image: url('../images/icons/icon-table.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.slide-button {
  background-image: url('../images/icons/icon-slideshow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.list-button {
  background-image: url('../images/icons/icon-list.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list {
  list-style: none;
  margin: 56px 0 0;
  padding: 0 0 66px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  border-bottom: 1px solid #E6E6E6;
}

.motel-card {
  color: #333333;
  max-width: 340px;
  padding: 20px;
}

.motel-card-img {
  vertical-align: middle;
}

.motel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
  margin: 16px 0 0;
}

.motel-card-info {
  margin: 16px 0 0;
  display: flex;
  column-gap: 20px;
}

.motel-card-info p {
  width: 50%;
  margin: 0;
}

.motel-card-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.motel-card-buttons a {
  width: 140px;
  text-align: center;
  padding: 9px 15px;
  border-radius: 4px;
}

.more-button {
  background-color: #756157;
}

.favorite-button {
  background-color: #82B3D3;
}

.favorite-added-button {
  background-color: #7DB54F;
}

.motel-card-footer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating {
  display: flex;
}

.star {
  width: 18px;
  height: 17px;
  background-image: url(../images/icons/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.star+.star {
  margin-left: 6px;
}

.rating-total {
  font-size: 16px;
  border-radius: 4px;
  line-height: 20px;
  background-color: #F2F2F2;
  padding: 9px 22px;
}

/* catalog - footer */

.catalog-footer {
  padding: 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-select {
  display: flex;
}

.catalog-items-count {
  margin: 0 51px 0 0;
}

.pagination-item+.pagination-item {
  margin-left: 8px;
}

.pagination-link {
  background-color: #82B3D3;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;

  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000;
}
